

<p>My name is Daniel Bonaparte. I plan on graduating from Howard this semester.
I should be graduating in May...

<br>

Sounds simple enough, right? Well, it isn’t. Under the surface of that premise 
runs a deep and complex web of dodges, parries, guardbreaks, counters, light and
heavy attacks, combo chains, feints, recoveries, unblockable attacks, 
uninterruptable attacks, stuns, throws, environmental kills, and of course, 
grisly executions. If a fight ends without a head rolling around on the ground, 
it’s a surprise.
</p>